<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>items</key>
        <array>
                <dict>
                        <key>assets</key>
                        <array>
                                <dict>
                                    <key>kind</key>
                                    <string>software-package</string>
                                    <key>url</key>
                                    <string>https://iosapps.itunes.apple.com/itunes-assets/Purple113/v4/a5/f4/bc/a5f4bce2-5985-8654-0f28-7483149445bd/pre-thinned3416232413863035429.thinned.signed.dpkg.ipa?accessKey=1602094100_6058410793567706647_1D0Huc%2BfddZ154RG%2F6JpD8ouHZzGXPrjJrowgB%2Br3TNX17n3e0W%2BqWz0NnKqOR8wWn3wFJxreEWs%2FA6%2BGBcye1zyMe9nGwgAc87gnLwVzDjnjNj74EGNIzNN%2B1t%2FY5sAQZDifR4vbEYVFY5Hml46MKMzfZJdZbT2%2FV7Gm6e%2BS1fbSVSivGH%2BajMfgWnZE3M56IzhtVm3RxbDnyjmy08nIA%3D%3D</string>
                                </dict>
                        </array>
                        <key>metadata</key>
                        <dict>
                            <key>bundle-identifier</key>
                            <string>8888888</string>
                            <key>bundle-version</key>
                            <string>1.0.0</string>
                            <key>kind</key>
                            <string>software</string>
                            <key>title</key>
                            <string>Potatso Lite</string>
                        </dict>
                </dict>
        </array>
</dict>
</plist>
